.footer {
  background-color: $black;
  flex-direction: column;
}


.mobile-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h4-title {
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.footer-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footercol2 {
  margin-top: 1rem;
}

.footercol3 {
  margin-top: 1rem;
}

.footercol4 {
  margin-top: 1rem;
  &__google {
    margin-top: 1rem;
  }
  &__app {
    margin-top: 1rem;
  }
}

.footer__hr {
  border:1px solid white;
  opacity: 0.1;
}

.footer2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  &__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    margin-top: 1rem
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: white;
  }
}

@media only screen and (min-width: 1024px) {
  
  .footer1 {
    display: flex;
    justify-content: space-between;
  }
  .footer2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__item {
      margin-left: 20px;
    }
    &__text {
      font-size: 14px;
    }
  }

  .footercol1 {
    margin-top: 1rem;
  }
  .h4-title {
    font-size: 18px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer1 {
    margin-bottom: 2rem;
  }
}

