
.header {
  width:100vw;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--active {
  .header {
    position: fixed;
  }
  .menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 100vw;
    height: 100vh;
    line-height: 4;
    color: $light-purple;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    top: 0;
    position: fixed;
    &__list {
        display: flex;
      flex-direction: column;
      list-style: none;
      margin-top: 41%;
      width: 100%;
      height: 50vh;
      text-align: center;
      align-content: center;
    }
    &__link {
      font-size: 14px;
      text-decoration: none;
      width: 100px;
      &:hover {
        transition: all .3s ease-in-out;
        font-weight: bold;
      }
    }
    &__buttons{
      width: 100%;
    }
  }

  .buttons {
    display: none;
  }
  
  .btn {
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    color: $light-purple;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $light-purple;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
    &--primary {
      border-radius: 5px;
      background-color: $light-purple;
      color: $light-pink;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 10px;
    }
  }
}

.buttons {
  display: none;
}

.menu {
  display: none;
}

.logo {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8) translateX(-19.5px);
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
  z-index: 9;
  &__button {
    width: 100%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-purple;
    border-radius: 6px;
    &::before {  
      content: '';
      position: absolute;
      background-color: $light-purple;
      transform: translateY(5px);
      width: 20px;
      height: 3px;
    }
    &::after {  
      content: '';
      position: absolute;
      background-color: $light-purple;
      transform: translateY(-5px);
      width: 20px;
      height: 3px;
    }
  }
}

@media only screen and (min-width: 768px) {

  .container {
    width: 90%;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 50%;  
    }
    &__item {
      flex: 1;
      margin-right: 32px;
    }
    &__link {
      text-decoration: none;
      color: black;
      display: block;
      font-size: 17px;
      &:hover {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
      }
    }
    &__buttons{
      display: none;
    }
  }

  .burger {
    display: none;
  }

  .buttons {
    right: 0px;
    margin-right: 0px;
    display: block;
  }

  .btn {
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    color: $light-purple;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $light-purple;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
    &--primary {
      border-radius: 5px;
      background-color: $light-purple;
      color: $light-pink;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 5px 10px;
    }
  }

  .logo {
    transform: scale(1) translateX(-19.5px);
    left:50%;
  }
}
  
@media only screen and (min-width: 1200px) {


  .container{
    width: 70rem;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 50%;  
    }
    &__item {
      flex: 1;
      margin-right: 32px;
    }
    &__link {
      text-decoration: none;
      color: black;
      display: block;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
      }
    }
    
  }

  .burger {
    display: none;
  }

  .buttons {
    right: 0px;
    margin-right: 0px;
    display: block;
  }

  .btn {
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    color: $light-purple;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $light-purple;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
    &--primary {
      border-radius: 5px;
      background-color: $light-purple;
      color: $light-pink;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 5px 10px;
    }
  }

  .logo {
    transform: scale(1) translateX(-19.5px);
    left:50%;
  }
}
