.header {
  padding: 1rem 0;
  border-bottom: 1px solid #f1f1f1;
  z-index: 99;
  background: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  &__button {
    width: 100%;
    height: 3px;
    background-color: $light-purple;
    border-radius: 6px;
    &::before {  
      content: '';
      position: absolute;
      background-color: $light-purple;
      transform: translateY(5px);
      width: 20px;
      height: 3px;
    }
    &::after {  
      content: '';
      position: absolute;
      background-color: $light-purple;
      transform: translateY(-5px);
      width: 20px;
      height: 3px;
    }
  }
}

.logo {
  display: flex;
  &__img {
    display: block;
    z-index: 999;
  }
}

.header__buttons {
  display: none;
}

.menu {
 display: none;
}

.header--active {
  .menu {
    background-color: white;
    display: block;
    line-height: 4;
    color: $light-purple;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    height: 100vh;
    width: 100%;
    bottom: 0;
    position: fixed;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    &__list {
      display: flex;
      flex-direction: column;
      margin: auto;
      list-style: none;
      margin-top: 9rem;
      text-align: center;  
    }
    &__link {
      font-size: 14px;
      text-decoration: none;
      width: 100px;
      &:hover {
        transition: all .3s ease-in-out;
        font-weight: bold;
      }
    }
  }
}


.header--active {
  .header__btn {
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    color: $light-purple;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $light-purple;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
    &--primary {
      border-radius: 5px;
      background-color: $light-purple;
      color: $light-pink;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 10px;
    }
  }
}

@media only screen and (min-width: 768px) {

  .header--active {
    .menu__link {
      font-size: 16px;
    } 
    .header__btn {
      font-size: 12px;
    }
  }
}
  
  
@media only screen and (min-width: 1024px) {

  .flexbox {
    justify-content: space-between;
  }

  .burger {
    display: none;
  }

  .mobile-buttons {
    display: none;
  }

  .menu {
    display: block;
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items:center; 
    }
    &__item {
      margin-right: 32px;
      &:nth-child(3) {
        margin-right: 0px;
      }
    }

    &__link {
      text-decoration: none;
      color: black;
      display: block;
      font-size: 20px;
      &:hover {
        text-decoration: none;
        color: $light-purple;
        transition: all 0.3s ease-in-out;
      }
    } 
  }

  .header__buttons {
    display: flex;
  }

  .header__btn {
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    color: $light-purple;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $light-purple;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-left: 15px;
    &:first-child {
      margin-left: 0px;
    }
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
    &--primary {
      border-radius: 5px;
      background-color: $light-purple;
      color: $light-pink;
      font-size: 1.05rem;
      font-weight: bold;
      padding: 5px 10px;
    }
  }

}
