
.menu__link{
  font-size: 11px;
  color: red;
}


.header {
  width:100vw;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
  display: none;
}



  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 50%;  
    }
    &__item {
      flex: 1;
      margin-right: 32px;
    }
    &__link {
      text-decoration: none;
      color: black;
      display: block;
      font-size: 17px;
      &:hover {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .burger {
    display: none;
  }
  
  .buttons {
    right: 0px;
    margin-right: 0px;
    display: block;
  }

  .btn {
    border: 1px solid $light-pink;
    border-radius: 5px;
    background-color: $light-pink;
    color: $light-purple;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid $light-purple;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
    &--primary {
      border-radius: 5px;
      background-color: $light-purple;
      color: $light-pink;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 5px 10px;
    }
  }


  .logo {
    transform: scale(1) translateX(-19.5px);
    left:50%;
  }

  @media only screen and (max-width: 767px) {
    .header--active {
      .buttons {
        display: block;
        position: absolute;
        top: 14rem;
        right: 6rem;
      }
    }
  }
  
  
  @media only screen and (max-width: 768px) {
    .btn {
      font-size: 0.4375rem;
    }
  
    .buttons {
      display: block;
    }
  
    .logo {
      left: 46%;
    }
  
    .header--active {
      .menu {
        top:60px;
      }
    }
  }
  


  @media (max-width: 425px) {
    .header--active {
      .menu {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        width: 100vw;
        height: auto;
        line-height: 4;
        color: $light-purple;
        font-size: 12px;
        cursor: pointer;
        &__list {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin-top: 20px;
          width: 100px;
          height: fit-content;
          text-align: center;
        }
        &__link {
          font-size: 12px;
          text-decoration: none;
          width: 100px;
          &:hover {
            transition: all .3s ease-in-out;
            font-weight: bold;
          }
        }
      }
    }
    .container{
      width: 100%;
    }
    .menu{
      display: none;
    }
    
    .burger{
      display:block;
    }
    .logo {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 74%;
      transform: scale(0.7) translateX(-19.5px);
    }

    .burger {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      &__button {
        width: 100%;
        height: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-purple;
        border-radius: 6px;
    
        &::before {  
          content: '';
          position: absolute;
          background-color: $light-purple;
          transform: translateY(5px);
          width: 20px;
          height: 3px;
        }
        &::after {  
          content: '';
          position: absolute;
          background-color: $light-purple;
          transform: translateY(-5px);
          width: 20px;
          height: 3px;
        }
      }
    }
     
    
    .buttons {
      right: 50px;
      margin-right: 50px;
      display: none;
    }
    
    .btn {
      border: 1px solid $light-pink;
      border-radius: 5px;
      background-color: $light-pink;
      color: $light-purple;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 10px;
      border: 1px solid $light-purple;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        transition: all .3s ease-in-out;
        background-color: white; 
        color: $light-purple
      }
      &--primary {
        border-radius: 5px;
        background-color: $light-purple;
        color: $light-pink;
        font-size: 12px;
        font-weight: bold;
        padding: 5px 10px;
      }
    }
  }
