* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 65rem;
}

body {
  overflow-x: hidden;
}

@media (max-width: 480px) and (min-width: 320px) {
  .mobile-off {
    display: none;
  }
  .header {
    position: fixed;
    background: white;
  }
  .section-1 {
    padding-top: 26%;
  }
}
