.section-7 {
  display: flex;
  margin-top: 1rem;
}

.section-7__img {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .section-7 {
    margin-top: 2rem;
  }
  .section-7__img {
    width: 100%;
  }
}
