.section-3 {
  padding: 120px 0;
  &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
    }
  &__title {
    font-weight: 800;
    color: $black;
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
  }
}


.boxes {
  margin-top:10%;
  &__link {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: $light-purple;
    font-weight: bold;
    font-size: 15px;
  }
  &__arrow {
    background: url('/assets/arrow-symbol.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    left: 6rem;
    top: 32%;
    position: absolute;
  }
}

.box-left {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 20px;
  &__text {
    padding: 10px 20px;
    text-align: center;
  }
  &__title {
    margin-top: 16px;
  }
}

.box-center {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 15px;
  &__text {
    padding: 10px 20px;
    text-align: center;
  }
  &__title {
    margin-top:16px;
  }
}

.box-right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 40px;
  &__text {
    padding: 10px 20px;
    text-align: center;
  }
  &__title {
    margin-top: 16px;
  }
}


@media only screen and (min-width: 765px) {
  .box-left {
    font-size: 16px;
    line-height: 25px;
  }

  .box-center {
    font-size: 16px;
    line-height: 25px;
  }

  .box-right {
    font-size: 16px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .boxes {
    display: flex;
  }

  .section-3 {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__container {
      padding: 0px 20px;
      width: 87%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      width: 100%;
      text-align: justify;
      margin-left: 58px;
      font-size: 33px;
    }
  }
  .box-left {
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 58px;
    &__text {
      padding: 10px 0px;
      text-align: left;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .box-center {
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 58px;
    &__text {
      padding: 10px 0px;
      text-align: left;
      font-size: 16px;
      line-height: 26px;
    }
  }
  .box-right {
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 58px;
    &__text {
      padding: 10px 0px;
      text-align: left;
      font-size: 16px;
      line-height: 26px;
    }
  }
}