
.section-4 {
  background-color: $turquoise; 
  display: flex;
  flex-direction: column;
  align-items: center;
  &__parragraph {
    position: relative;
  }
  &__quotes {
    width: 26px;
    position: absolute;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
  }
  &__name {
    color: $turquoise-bold; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
  }
  &__charge {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }
  &__right {
    display: flex;
  }
  &__img {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .section-4 {
    flex-direction: row;
    margin-top: 2rem;
    &__text {
      font-size: 18px;
    }
    &__quotes {
      width: 50px;
      top: 119rem;
    }
    &__name {
      font-size: 18px;
    }
    &__charge {
      font-size: 16px;
    }
    &__left {
      width: 730px; 
    }
    &__sign {
      margin-top: 4rem;
    }
  }
  .ellipse {
    margin-top: 4rem;
  }
}  

@media only screen and (min-width: 1400px) {
  .section-4__right {
    margin-left: 3rem;
  }
}