.section-5 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.section-5__text {
  display: none;
}


@media only screen and (min-width: 768px) {
  .section-5__social {
    display: flex;
  }
  .section-5__text  {
    display: block;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-5__num {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
  }
  .section-5__text {
    margin-left: 10px;
  }
}