.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
   font-style: normal;
   font-weight: 800;
   font-size: 32px;
   line-height: 64px;
   text-align: center;
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  margin-top:10%;
  &__access {
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    color: $light-purple;
    font-weight: bold;
    font-size: 15px;
  }
  &__arrow {
    display: block;
  }
}

.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__img {
    display: block;
  }
  &__text {
    padding: 10px 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    margin-top: 16px;
    font-size: 20px;
    line-height: 32px;
  }
}

.box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  &__img {
    display: block;
  }
  &__text {
    padding: 10px 20px;
    text-align: center;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-top:16px;
  }
}

.box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  &__img {
    display: block;
  }
  &__text {
    padding: 10px 20px;
    text-align: center;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
  }
}


@media only screen and (min-width: 768px) {
  .boxes {
    margin-top: 5%;
  } 
}

@media only screen and (min-width: 1024px) {
 
  .section-3 {
   align-items: flex-start;
    &__text {
      max-width: 730px;
      text-align: left;
      font-size: 48px;
    }
  }

  .boxes {
    flex-direction: row;
    align-items: baseline;
    &__access {
      margin-top: 3.5rem;
    }
  }

  .box-left {
    max-width: 350px;
    align-items: flex-start;
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
      padding: 0;
      text-align: left;
    }
  }

  .box-center {
    max-width: 350px;
    align-items: flex-start;
    margin-left: 40px;
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
      padding: 0;
      text-align: left;
    }
  }

  .box-right {
    max-width: 350px;
    align-items: flex-start;
    margin-left: 40px;
    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
      padding: 0;
      text-align: left;
    }
  }
}