.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  &__title {
    font-style: normal;
    font-weight: 800;
    color: $black;
    font-size: 45px;
    text-align: center;
  }
  &__text {
    font-style: normal;
    font-size: 17px;
    margin-top: 1rem;
    line-height: 20px;
    text-align: center;
    overflow-y: hidden;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  &__btn {
    font-style: normal;
    border: 1px solid $light-purple; 
    border-radius: 5px;
    background-color: $light-purple; 
    color: $light-pink;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    &:hover {
      transition: all .3s ease-in-out;
      background-color: white; 
      color: $light-purple
    }
  }
}


@media only screen and (min-width: 768px) {
 
  .box1__text {
    margin-top: 1.5rem;
  }

  .box2 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    &__img {
      display: block;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .section-1 { 
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    padding-top: 0px;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    &__title {
      font-size: 72px;
      line-height: 98px;
      text-align: left;
    }
    &__phrase {
      max-width: 540px;
    }
    &__text {
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      line-height: 32px;
      text-align: left;
    }
    &__button {
      display: flex;
      justify-content: flex-start;
    }
    &__btn {
      padding: 16px 41px;
      font-size: 1.25rem;
      line-height: 30px;
    }
  }
  .box2 {
    margin-top: 0px;
    max-width: 610px;;
  }
}

