* {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 65rem;
}

.header {
  width: 100vw;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--active .menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 100vw;
  height: 100vh;
  line-height: 4;
  color: #9946f7;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
}

.header--active .menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  text-align: center;
}

.header--active .menu__link {
  font-size: 14px;
  text-decoration: none;
  width: 100px;
}

.header--active .menu__link:hover {
  transition: all .3s ease-in-out;
  font-weight: bold;
}

.header--active .menu__buttons {
  width: 100%;
}

.header--active .buttons {
  display: none;
}

.header--active .btn {
  border: 1px solid #f1e4ff;
  border-radius: 5px;
  background-color: #f1e4ff;
  color: #9946f7;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #9946f7;
  text-decoration: none;
  cursor: pointer;
}

.header--active .btn:hover {
  transition: all .3s ease-in-out;
  background-color: white;
  color: #9946f7;
}

.header--active .btn--primary {
  border-radius: 5px;
  background-color: #9946f7;
  color: #f1e4ff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
}

.buttons {
  display: none;
}

.menu {
  display: none;
}

.logo {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8) translateX(-19.5px);
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
}

.burger__button {
  width: 100%;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9946f7;
  border-radius: 6px;
}

.burger__button::before {
  content: '';
  position: absolute;
  background-color: #9946f7;
  transform: translateY(5px);
  width: 20px;
  height: 3px;
}

.burger__button::after {
  content: '';
  position: absolute;
  background-color: #9946f7;
  transform: translateY(-5px);
  width: 20px;
  height: 3px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .menu__item {
    flex: 1;
    margin-right: 32px;
  }
  .menu__link {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 17px;
  }
  .menu__link:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
  .menu__buttons {
    display: none;
  }
  .burger {
    display: none;
  }
  .buttons {
    right: 0px;
    margin-right: 0px;
    display: block;
  }
  .btn {
    border: 1px solid #f1e4ff;
    border-radius: 5px;
    background-color: #f1e4ff;
    color: #9946f7;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #9946f7;
    text-decoration: none;
    cursor: pointer;
  }
  .btn:hover {
    transition: all .3s ease-in-out;
    background-color: white;
    color: #9946f7;
  }
  .btn--primary {
    border-radius: 5px;
    background-color: #9946f7;
    color: #f1e4ff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
  }
  .logo {
    transform: scale(1) translateX(-19.5px);
    left: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 70rem;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .menu__item {
    flex: 1;
    margin-right: 32px;
  }
  .menu__link {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 18px;
  }
  .menu__link:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
  .burger {
    display: none;
  }
  .buttons {
    right: 0px;
    margin-right: 0px;
    display: block;
  }
  .btn {
    border: 1px solid #f1e4ff;
    border-radius: 5px;
    background-color: #f1e4ff;
    color: #9946f7;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #9946f7;
    text-decoration: none;
    cursor: pointer;
  }
  .btn:hover {
    transition: all .3s ease-in-out;
    background-color: white;
    color: #9946f7;
  }
  .btn--primary {
    border-radius: 5px;
    background-color: #9946f7;
    color: #f1e4ff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
  }
  .logo {
    transform: scale(1) translateX(-19.5px);
    left: 50%;
  }
}

.section-1 {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.box1 {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box1__title {
  font-weight: 800;
  color: #18191F;
  font-size: 45px;
  text-align: center;
}

.box1__text {
  font-size: 17px;
  margin: 8px 0px;
  line-height: 20px;
  text-align: center;
}

.btn-home {
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #9946f7;
  color: #f1e4ff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
}

.box2 {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.box2__img {
  width: 65%;
  height: auto;
}

.boton {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 765px) {
  .btn-home {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .section-1 {
    margin: 0px 0px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    height: 794px;
    display: flex;
    flex-direction: row-reverse;
  }
  .box1 {
    margin-left: 11%;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .box1__title {
    margin-top: 300px;
    font-size: 72px;
    text-align: left;
    width: 70%;
  }
  .box1__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    width: 70%;
    margin: 0px 0px;
    margin-top: 20px;
  }
  .box2 {
    margin-top: 0px;
    width: 50%;
    max-width: 50%;
    display: block;
  }
  .box2__img {
    width: 100%;
    height: auto;
  }
  .boton {
    display: block;
    margin-top: 50px;
  }
  .btn-home {
    text-align: center;
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 30px;
    border-radius: 5px;
    border: 1px solid #9946f7;
  }
  .btn-home:hover {
    transition: all .3s ease-in-out;
    background-color: white;
    color: #9946f7;
  }
}

.section-2 {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.section-2__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-2__box2 {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2__img {
  width: 65%;
  height: auto;
}

.section-2__box1 {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-2__title {
  font-weight: 800;
  color: #18191F;
  font-size: 32px;
  text-align: center;
  margin-top: 15px;
}

.section-2__text {
  font-size: 17px;
  margin: 17px 0px;
  line-height: 20px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .section-2 {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .section-2__container {
    box-sizing: border-box;
    padding: 0px 20px;
    width: 100%;
    top: 20.54%;
    bottom: 64.9%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .section-2__box1 {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-2__title {
    text-align: left;
    font-size: 48px;
    line-height: 64px;
    width: 445px;
    height: 128px;
  }
  .section-2__text {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    width: 445px;
    height: 96px;
    top: 136px;
  }
  .section-2__box2 {
    margin-top: 0px;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-2__img {
    width: 90%;
    height: auto;
    position: relative;
    right: 40px;
  }
}
