* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .mobile-off {
    display: none;
  }
}

.header {
  padding: 1rem 0;
  border-bottom: 1px solid #f1f1f1;
  z-index: 99;
  background: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

.burger__button {
  width: 100%;
  height: 3px;
  background-color: #9946f7;
  border-radius: 6px;
}

.burger__button::before {
  content: '';
  position: absolute;
  background-color: #9946f7;
  transform: translateY(5px);
  width: 20px;
  height: 3px;
}

.burger__button::after {
  content: '';
  position: absolute;
  background-color: #9946f7;
  transform: translateY(-5px);
  width: 20px;
  height: 3px;
}

.logo {
  display: flex;
}

.logo__img {
  display: block;
  z-index: 999;
}

.header__buttons {
  display: none;
}

.menu {
  display: none;
}

.header--active .menu {
  background-color: white;
  display: block;
  line-height: 4;
  color: #9946f7;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  height: 100vh;
  width: 100%;
  bottom: 0;
  position: fixed;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

.header--active .menu__list {
  display: flex;
  flex-direction: column;
  margin: auto;
  list-style: none;
  margin-top: 9rem;
  text-align: center;
}

.header--active .menu__link {
  font-size: 14px;
  text-decoration: none;
  width: 100px;
}

.header--active .menu__link:hover {
  transition: all .3s ease-in-out;
  font-weight: bold;
}

.header--active .header__btn {
  border: 1px solid #f1e4ff;
  border-radius: 5px;
  background-color: #f1e4ff;
  color: #9946f7;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #9946f7;
  text-decoration: none;
  cursor: pointer;
}

.header--active .header__btn:hover {
  transition: all .3s ease-in-out;
  background-color: white;
  color: #9946f7;
}

.header--active .header__btn--primary {
  border-radius: 5px;
  background-color: #9946f7;
  color: #f1e4ff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
}

@media only screen and (min-width: 768px) {
  .header--active .menu__link {
    font-size: 16px;
  }
  .header--active .header__btn {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .flexbox {
    justify-content: space-between;
  }
  .burger {
    display: none;
  }
  .mobile-buttons {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__item {
    margin-right: 32px;
  }
  .menu__item:nth-child(3) {
    margin-right: 0px;
  }
  .menu__link {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
  }
  .menu__link:hover {
    text-decoration: none;
    color: #9946f7;
    transition: all 0.3s ease-in-out;
  }
  .header__buttons {
    display: flex;
  }
  .header__btn {
    border: 1px solid #f1e4ff;
    border-radius: 5px;
    background-color: #f1e4ff;
    color: #9946f7;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #9946f7;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-left: 15px;
  }
  .header__btn:first-child {
    margin-left: 0px;
  }
  .header__btn:hover {
    transition: all .3s ease-in-out;
    background-color: white;
    color: #9946f7;
  }
  .header__btn--primary {
    border-radius: 5px;
    background-color: #9946f7;
    color: #f1e4ff;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 5px 10px;
  }
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1__title {
  font-style: normal;
  font-weight: 800;
  color: #18191F;
  font-size: 45px;
  text-align: center;
}

.box1__text {
  font-style: normal;
  font-size: 17px;
  margin-top: 1rem;
  line-height: 20px;
  text-align: center;
  overflow-y: hidden;
}

.box1__button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.box1__btn {
  font-style: normal;
  border: 1px solid #9946f7;
  border-radius: 5px;
  background-color: #9946f7;
  color: #f1e4ff;
  font-size: 1.05rem;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.box1__btn:hover {
  transition: all .3s ease-in-out;
  background-color: white;
  color: #9946f7;
}

@media only screen and (min-width: 768px) {
  .box1__text {
    margin-top: 1.5rem;
  }
  .box2 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .box2__img {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .section-1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    padding-top: 0px;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    max-width: 540px;
  }
  .box1__title {
    font-size: 72px;
    line-height: 98px;
    text-align: left;
  }
  .box1__phrase {
    max-width: 540px;
  }
  .box1__text {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    text-align: left;
  }
  .box1__button {
    display: flex;
    justify-content: flex-start;
  }
  .box1__btn {
    padding: 16px 41px;
    font-size: 1.25rem;
    line-height: 30px;
  }
  .box2 {
    margin-top: 0px;
    max-width: 610px;
  }
}

.section-2 {
  display: flex;
  flex-direction: column;
}

.section-2__box2 {
  display: flex;
}

.section-2__img {
  display: block;
}

.section-2__box1 {
  display: flex;
  flex-direction: column;
}

.section-2__title {
  font-style: normal;
  font-weight: 800;
  color: #18191F;
  line-height: 64px;
  font-size: 32px;
  margin-top: 15px;
  text-align: center;
}

.section-2__text {
  margin-top: 1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .section-2 {
    align-items: center;
  }
  .section-2__title {
    font-size: 36px;
  }
  .section-2__text {
    font-size: 18px;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-2 {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .section-2__title {
    font-size: 48px;
    max-width: 445px;
    text-align: left;
  }
  .section-2__text {
    max-width: 445px;
    text-align: left;
  }
  .section-2__box2 {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .section-2__box2 {
    margin-right: 8rem;
  }
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3__text {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.boxes__access {
  display: flex;
  align-items: center;
}

.boxes__link {
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  color: #9946f7;
  font-weight: bold;
  font-size: 15px;
}

.boxes__arrow {
  display: block;
}

.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-left__img {
  display: block;
}

.box-left__text {
  padding: 10px 20px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.box-left__title {
  font-style: normal;
  font-weight: 600;
  margin-top: 16px;
  font-size: 20px;
  line-height: 32px;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.box-center__img {
  display: block;
}

.box-center__text {
  padding: 10px 20px;
  text-align: center;
}

.box-center__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-top: 16px;
}

.box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.box-right__img {
  display: block;
}

.box-right__text {
  padding: 10px 20px;
  text-align: center;
}

.box-right__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .boxes {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .section-3 {
    align-items: flex-start;
  }
  .section-3__text {
    max-width: 730px;
    text-align: left;
    font-size: 48px;
  }
  .boxes {
    flex-direction: row;
    align-items: baseline;
  }
  .boxes__access {
    margin-top: 3.5rem;
  }
  .box-left {
    max-width: 350px;
    align-items: flex-start;
  }
  .box-left__title {
    font-size: 24px;
  }
  .box-left__text {
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
  .box-center {
    max-width: 350px;
    align-items: flex-start;
    margin-left: 40px;
  }
  .box-center__title {
    font-size: 24px;
  }
  .box-center__text {
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
  .box-right {
    max-width: 350px;
    align-items: flex-start;
    margin-left: 40px;
  }
  .box-right__title {
    font-size: 24px;
  }
  .box-right__text {
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
}

.section-4 {
  background-color: #D5FAFC;
}

.section-4__left {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.section-4__parragraph {
  position: relative;
}

.section-4__figure {
  display: flex;
}

.section-4__quotes {
  width: 26px;
  position: absolute;
  opacity: 0.5;
}

.section-4__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
}

.section-4__name {
  color: #2EC5CE;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

.section-4__charge {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.section-4__right {
  display: flex;
  justify-content: center;
}

.section-4__img {
  display: block;
}

@media only screen and (min-width: 768px) {
  .section-4__right {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .section-4__flexbox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }
  .section-4__quotes {
    width: 71px;
    margin-top: -2rem;
    margin-left: -3rem;
  }
  .section-4__text {
    font-size: 18px;
  }
  .section-4__name {
    font-size: 18px;
  }
  .section-4__charge {
    font-size: 16px;
  }
  .section-4__left {
    width: 730px;
  }
  .section-4__sign {
    margin-top: 4rem;
  }
  .ellipse {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1400px) {
  .section-4__right {
    margin-left: 3rem;
  }
}

.section-5 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.section-5__text {
  display: none;
}

@media only screen and (min-width: 768px) {
  .section-5__social {
    display: flex;
  }
  .section-5__text {
    display: block;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-5__num {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
  }
  .section-5__text {
    margin-left: 10px;
  }
}

.section-6 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.section-6__img {
  display: flex;
  margin-top: 2rem;
}

.section-6__phone {
  display: block;
  width: 100%;
}

.section-6__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-6__title {
  color: #18191F;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
}

.section-6__text {
  margin-top: 2rem;
  color: #18191F;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.section-6__access {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.section-6__link {
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  color: #9946f7;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

@media only screen and (min-width: 1024px) {
  .section-6 {
    flex-direction: row;
  }
  .section-6__title {
    font-size: 40px;
    max-width: 444px;
  }
  .section-6__img {
    width: 55%;
  }
  .section-6__left {
    max-width: 540px;
    align-items: flex-start;
    margin-left: 4rem;
  }
  .section-6__text {
    font-size: 18px;
    max-width: 444px;
    text-align: justify;
  }
  .section-6__access {
    margin-top: 2rem;
  }
  .section-6__link {
    font-size: 20px;
  }
}

.section-7 {
  display: flex;
  margin-top: 1rem;
}

.section-7__img {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .section-7 {
    margin-top: 2rem;
  }
  .section-7__img {
    width: 100%;
  }
}

.footer {
  background-color: #18191F;
  flex-direction: column;
}

.mobile-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.footer-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footercol2 {
  margin-top: 1rem;
}

.footercol3 {
  margin-top: 1rem;
}

.footercol4 {
  margin-top: 1rem;
}

.footercol4__google {
  margin-top: 1rem;
}

.footercol4__app {
  margin-top: 1rem;
}

.footer__hr {
  border: 1px solid white;
  opacity: 0.1;
}

.footer2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer2__social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer2__copyright {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer2__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .footer1 {
    display: flex;
    justify-content: space-between;
  }
  .footer2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer2__item {
    margin-left: 20px;
  }
  .footer2__text {
    font-size: 14px;
  }
  .footercol1 {
    margin-top: 1rem;
  }
  .footer__title {
    font-size: 18px;
  }
  .footer-list {
    align-items: flex-start;
  }
  .mobile-styles {
    align-items: flex-start;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer1 {
    margin-bottom: 2rem;
  }
}
